body{
    background-color: #979797;
    margin : 0%;
    margin-right: 0;
    padding-right: 0;
    padding: 0%;
    width:100%;
}
.title{
    background-color: #979797;
    margin: 0%;
   
}
.navbar{
    padding: 0 0 4.5rem;
}
h1{
    font-family: "Montserrat";
    color: #070505;
    /*color: black; **/
    line-height: 1.5;
    font-size: 3.5em;
}
.container-fluid{
    padding: 3% 9% 2%;
}
.navbar-brand{
    font-size: 2.5rem;
    font-weight: bold;
   
}
.nav-item{
    padding: 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat-light';
}
.abc{
    text-align: center;
}

.logo{
    
    height: 80%;
    width: 55%;
    border-radius: 100%;
     margin: 1%;
    
}
.lol{
    background-color: rgba(255, 255, 255, 0.65);
    margin: 0 5% 5%;
    padding: 5%;
    border:thick solid black;
    border-radius: 1em;
}
.center{
    text-align: center;

}
.pad{
    padding-bottom:1.5em;
    font-size: 2.5em;
}
.input{
    padding: 5px;
}
.bottom-container{
    background-color:#666666; 
    padding: 50px 0 30px 0;
     text-align: center;
}
.footer-link{
    color:#fff;
    font-family: 'Montserrat',sans-serif;
    margin: 10px 20px;
    text-decoration: none;
   
}
.footer-link:hover{
    color: black;
}